<h1>Listing negocios</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Www</th>
    <th>Localidad</th>
    <th>Telefono</th>
    <th>Horarios</th>
    <th>Direccion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @negocios.each do |negocio| %>
  <tr>
    <td><%= negocio.nombre %></td>
    <td><%= negocio.descripcion %></td>
    <td><%= negocio.www %></td>
    <td><%= negocio.localidad %></td>
    <td><%= negocio.telefono %></td>
    <td><%= negocio.horarios %></td>
    <td><%= negocio.direccion %></td>
    <td><%= link_to 'Show', negocio %></td>
    <td><%= link_to 'Edit', edit_negocio_path(negocio) %></td>
    <td><%= link_to 'Destroy', negocio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Negocio', new_negocio_path %>
